<%= form_for(@message) do |f| %>
  <div class="form-group"> 
    <% if @message.errors.present? %>
      <div class="alert alert-danger">
        <%= alert %>
        <ul>
          <% @message.errors.full_messages.each do |full_message| %>
          <li>
            <%= full_message %>
          </li>
          <% end %> 
        </ul>
      </div>
    <% end %>
  </div>
  <div class="form-group"> 
    <%# f.label :name, "名前", class: "control-label" %>
    名前 <br>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%# f.label :age, "年齢", class: "control-label" %>
    年齢 <br>
    <%= f.text_field :age, class: "form-control" %>
  </div>
  <div class="form-group"> 
    <%# f.label :body, "内容", class: "control-label" %>
    内容 <br>
    <%= f.text_area :body, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.submit class: "btn btn-sm btn-primary" %>
  </div>
<% end %>

